@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'nanum-light';
  src: url(../fonts/NanumSquareL.otf);
}
@font-face {
  font-family: 'nanum-regular';
  src: url(../fonts/NanumSquareR.otf);
}
@font-face {
  font-family: 'nanum-bold';
  src: url(../fonts/NanumSquareB.otf);
}
@font-face {
  font-family: 'nanum-eb';
  src: url(../fonts/NanumSquareEB.otf);
}
@font-face {
  font-family: 'nanum-acl';
  src: url(../fonts/NanumSquareOTF_acL.otf);
}
@font-face {
  font-family: 'nanum-acb';
  src: url(../fonts/NanumSquareOTF_acB.otf);
}
/* navbar style */
/* .navbar {
  box-shadow: 5px 0px 5px #666;
} */

html {
  scroll-behavior: smooth;
}
/* home style */
@keyframes pulse1 {
  50% {
    opacity: 0;
  }
}
.animate-pulse1 {
  animation: pulse1 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
